<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student - Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../static/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Student - Login</h1>
    </header>
    <div class="container">
      {% if error %}
      <span class="error-message">{{ error }}</span>
      {% endif %}
      <form method="POST" action="{{ url_for('login') }}" name="myform">
        <div class="form_div">
          <label for="login_txt">Login:</label>
          <input
            name="email"
            id="email"
            type="text"
            class="field_class"
            placeholder="Enter Email Id"
            autofocus
          />
          <label for="password_txt">Password:</label>
          <input
            name="password"
            id="password"
            type="password"
            class="field_class"
            placeholder="Enter Password"
          />
          <span id="passwordMessage" class="error-message"></span>
          <button type="submit" class="submit_class" name="submit" id="submit">
            Login
          </button>
        </div>
      </form>
      <div>
        <b> New Student? </b
        ><a href="{{ url_for('signup') }}" class="btn-pencil">Signup</a>
      </div>
    </div>
    <footer>&copy; 2024 Student Management System</footer>
  </body>
</html>
