<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link href="../static/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="../static/signUpValidation.js"></script>
  <title>Student Sign Up</title>
</head>
<body>
  <header>
    <h1>Student Sign Up</h1>
  </header>
  <div class="container">
    <div class="form_div">
      <h2>Student Sign Up</h2>
      <form method="POST" onsubmit="return signUpValidateForm()" action="{{ url_for('signup') }}">
        <label for="name">Name:</label>
        <input
          name="fname"
          id="fname"
          type="text"
          class="field_class"
          placeholder="Enter Name"
          autofocus
        />

        <label for="email">Email:</label>
        <input name="email" id="email" type="email" class="field_class" placeholder="Enter Email" />
        <span id="emailMsg" class="error-message"></span>

        <label for="password">Password:</label>
        <input
          name="password"
          id="password"
          type="password"
          class="field_class"
          placeholder="Enter Password"
        />
        
        <button type="submit" class="submit_class" name="submit" id="submit">Signup</button>
      </form>
    </div>
    <a href="{{ url_for('login') }}" class="btn-pencil">Login</a>
  </div>
  <footer>
    &copy; 2024 Student Management System - Harsha
  </footer>
  <script>
    $(document).ready(function () {
      $("#email").on("blur", (event) => {
        $("#emailMsg").hide().removeClass("text-success text-danger");
        const emailVal = event.target.value;
        $.ajax({
          type: "GET",
          url: "/email_check",
          data: { emailVal: emailVal },
          success: function (response) {
            $("#emailMsg").show();
            if (response.status === "success") {
              $("#emailMsg").addClass("text-success").html(response.message);
            } else {
              $("#emailMsg").addClass("text-danger").html(response.message);
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            $("#emailMsg").show().addClass("text-danger");
            $("#emailMsg").html(textStatus + " " + errorThrown);
            console.log(errorThrown);
          },
        });
      });
    });
  </script>
</body>
</html>
